// grid gutter
$h-gutter-width: 15px;
$v-gutter-width: 20px;

// navbar
$navbar-height: 38px;
$menu-length: 200px;

// projects related
$v-icon-padding: 20px;
$h-icon-padding: 25px;

$project-name-size: 13px;

// transition timers
$transition-short: 300ms;
$transition-long: 450ms;

// colors
$main-color: crimson;
$secondary-color: rgba(crimson, .8);
$text-color: white;
$white: white;