$h-gutter-width: 15px;
$v-gutter-width: 20px;

$navbar-height: 38px;

$v-icon-padding: 20px;
$h-icon-padding: 25px;

$project-name-size: 13px;

$menu-slide-length: 65%;
$container-slide-length: -35%;

$back-transition: 300ms;