@import url(https://fonts.googleapis.com/css?family=Black+Han+Sans);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  font-family: "Black Han Sans";
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  width: 100%;
}

nav {
  background-color: crimson;
  color: white;
  z-index: 2;
  position: relative;
  padding: 5px 15px;
}
nav .menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  text-align: center;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.back {
  transition: 450ms;
  visibility: hidden;
  opacity: 0;
}

.nav-item {
  font-size: 24px;
}
.nav-item span {
  display: none;
}
.nav-item:hover {
  cursor: pointer;
}

.nav-link {
  padding: 5px 10px;
}

.list-menu-items {
  display: flex;
}

@media only screen and (min-width: 768px) {
  nav {
    order: 2;
    flex-basis: 25%;
    height: 100%;
  }

  .menu-list,
.list-menu-items {
    flex-direction: column;
  }

  .logo {
    position: static;
    transform: unset;
    font-size: 32px;
    padding: 20px 0;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
  }
  .nav-item span {
    display: unset;
  }

  .nav-link {
    padding: 15px 0;
    border-bottom: 1px solid white;
  }
}
.todo {
  padding: 25px 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.todo .menu-box {
  position: relative;
  float: right;
}
.todo .menu-list {
  position: absolute;
  top: 100%;
  right: 0;
  width: 80px;
  height: 0;
  overflow: hidden;
  transition: 300ms;
}
.todo .menu-list__item {
  color: white;
  background-color: crimson;
  padding: 8px 14px;
}
.todo .menu-list__item:hover {
  cursor: pointer;
}
.todo .show-menu {
  height: 60px;
}

.menu-toggle {
  font-size: 24px;
}
.menu-toggle:hover {
  cursor: pointer;
}

.priority-1 {
  border-left: 10px solid crimson;
}

.priority-2 {
  border-left: 10px solid yellow;
}

.priority-3 {
  border-left: 10px solid green;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  .screen {
    display: none;
  }
}
/**
	Container Level
**********************/
[class$=__form]:not([class^=choose-icon]) {
  background: white;
  border-radius: 3px;
  border: 1px solid crimson;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 95%;
  z-index: -1;
  transition: visibility, opacity, top 300ms;
  color: crimson;
  padding: 20px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  backface-visibility: hidden;
}

.choose-icon__form {
  background: crimson;
  color: white;
  z-index: 1;
  height: 0;
  transition: 300ms;
  border-radius: 3px;
  overflow: hidden;
}
.choose-icon__form .choose-icon__header {
  text-align: center;
  margin-bottom: 10px;
}
.choose-icon__form .choose-icon__box {
  padding: 10px;
}
.choose-icon__form .icon {
  padding: 10px;
  font-size: 24px;
  color: white;
}
.choose-icon__form .icon:hover {
  cursor: pointer;
}

.show-choose-icon {
  height: 195px;
  padding: 10px;
}

/**
	Inner Elements Level
**************************/
[class$=__header] {
  padding: 10px 0;
  font-size: 32px;
}

.display-icon__box {
  text-align: center;
  margin-bottom: 20px;
}

.icon-display {
  color: crimson;
  font-size: 24px;
  margin-right: 15px;
}

.label {
  color: crimson;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid crimson;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: crimson;
  font-family: inherit;
  font-size: 18px;
}

.input:focus {
  outline: none;
}

.btn {
  font-size: 18px;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 10px 18px;
  color: white;
  background-color: crimson;
  font-family: inherit;
}
.btn.btn__choose-icon {
  width: unset;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  cursor: pointer;
}

/**
	New Todo Form
*************************/
.new-todo__desc {
  line-height: 7px;
}

/**
	Animations
*************************/
@keyframes showAddTodoForm {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes hideForm {
  0% {
    visibility: visible;
    top: 50%;
    opacity: 1;
  }
  95% {
    top: 35%;
    opacity: 0;
  }
  100% {
    top: 35%;
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes showForm {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    top: 40%;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes hideForm {
  0% {
    visibility: visible;
    top: 40%;
    opacity: 1;
  }
  95% {
    top: 35%;
    opacity: 0;
  }
  100% {
    top: 35%;
    opacity: 0;
    visibility: hidden;
  }
}
.projects__icons {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 15px;
  z-index: 1;
  transition: 0.5s;
}
.projects__icons .project__icon-face {
  margin: 0 auto;
  text-align: center;
}
.projects__icons .project__icon-face i {
  padding: 20px 25px;
  border-radius: 20px;
  background-color: crimson;
  color: white;
  margin-bottom: 5px;
}
.projects__icons .project__icon-face:hover {
  cursor: pointer;
}
.projects__icons .project__name {
  color: crimson;
}
.projects__lists .project__name {
  color: crimson;
}
.projects__lists .project__list-face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  opacity: 0;
  background-color: white;
  transition: 300ms;
}
.projects__lists .project__list-face .todo__name {
  font-size: 24px;
  margin-bottom: 10px;
}
.projects__lists .project__list-face .todo__duedate {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 13px;
  color: gray;
}
.projects__lists .project__list-face .todo__desc {
  font-size: 18px;
}
.projects__lists .project__name {
  font-size: 48px;
  padding: 25px;
}
.projects__lists .show-list {
  opacity: 1;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 auto;
  margin-left: -15px;
  margin-right: -15px;
}
.row [class^=col-] {
  padding: 20px 15px;
}
.row .col-1-2 {
  width: calc(100% / 2);
}
.row .col-1-3 {
  width: calc(100% / 3);
}
@media only screen and (min-width: 768px) {
  .row .col-md-1-4 {
    width: calc(100% / 4);
  }
}
@media only screen and (min-width: 992px) {
  .row .col-lg-1-5 {
    width: calc(100% / 5);
  }
}

.container {
  position: relative;
  height: 100%;
  transition: 300ms;
}

.projects-container {
  position: relative;
  flex-basis: 90%;
  padding: 20px 15px;
}

.slide-over {
  left: -200px;
}

.contents-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.todos-container {
  overflow-y: auto;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .contents-container {
    flex-direction: row;
  }

  .projects-container {
    order: 1;
    flex-basis: 80%;
    height: 100%;
  }
}
.hidden {
  display: none;
}

.show {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
