.projects {

	// list of icons
	&__icons {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		padding: calc(3 * #{$v-gutter-width}) $h-gutter-width;
		z-index: 1;

		.project {

			&__icon-face {
				margin: 0 auto;
				text-align: center;

				i {
					font-size: 24px;
					padding: $v-icon-padding $h-icon-padding;
					border-radius: 10px;
					background-color: $main-color;
					color: $white;
					margin-bottom: 5px;
				}

				&:hover {
					cursor: pointer;
				}
			}

			&__name {
				color: $white;
			}
		}

	}

	// list of corresponding lists
	&__lists {

		.project {

			&__name {
				color: $white;
				font-size: 48px;
				padding: 5px 5%;
				border-left: 7px solid $white;
				border-bottom: 2px solid $white;
				width: 70%;
				margin-left: 5%;
				margin-bottom: 30px;
			}

			&__list-face {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 0;
				height: 0;
				opacity: 0;
				padding-top: 80px;
				background-color: transparent;
				transition: $transition-short;

			}
		}

		.show-list {
			opacity: 1;
			z-index: 2;
			width: 100%;
			height: 100%;
		}
	}

}

@media only screen and (min-width: 768px) {
	.projects {

		&__lists {

			.project {

				&__name {
					padding: 25px 5%;
				}

				&__list-face {
					padding-top: 40px;
				}
			}
		}
	}
}