[class^="projects__"] {

	.project {

		&__name {
			font-size: $project-name-size;
		}

		&__icon-face {
			margin: 0 auto;
			text-align: center;

			i {
				padding: $v-icon-padding $h-icon-padding;
				border-radius: 20px;
				background-color: $main-color;
				color: $text-color;
				margin-bottom: 5px;
			}

			&:hover {
				cursor: pointer;
			}
		}

		&__list-face {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			opacity: 0;
			z-index: -1;
			background-color: $white;
			transition: $transition-short;

			.project__name {
				font-size: 48px;
				padding: 25px;
			}

			.todo {

				&__name {
					font-size: 24px;
					margin-bottom: 10px;
				}

				&__duedate {
					display: inline-block;
					margin-bottom: 5px;
					font-size: 13px;
					color: gray;
				}

				&__desc {
					font-size: 18px;
				}
			}
		}
	}

	.show-list {
		opacity: 1;
		z-index: 2;
		width: 100%;
		height: 100%;
	}
}

.projects__icons {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: $v-gutter-width $h-gutter-width;
	z-index: 1;
	transition: .5s;
}