.container {
	position: relative;
	left: 0;
	height: 100%;
	transition: $transition-short;
}

.projects-container {
	position: relative;
	height: calc(100% - #{$navbar-height});
	padding: $v-gutter-width $h-gutter-width;
}

.slide-over {
	left: -$menu-length;
}

@media only screen and (min-width: 768px) {
	.container {
		left: 0;
	}
}