.container {
	position: relative;
	height: 100%;
	transition: $transition-short;
}

.projects-container {
	position: relative;
	height: 100%;
	padding: $v-gutter-width $h-gutter-width;

	background-image: url(images/bg-sm.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

.slide-over {
	left: -$menu-length;
}

.contents-container {
	height: 100%;
}

.todos-container {
	overflow-y: auto;
	height: 75%;
	margin-left: 5%;
	margin-right: 5%;
}

@media only screen and (min-width: 768px) {
	.todos-container {
		width: 70%;
		height: 70%;
	}
}