/**
	Container Level
**********************/

[class$="__form"]:not([class^="choose-icon"]) {
	background: $white;
	border-radius: 3px;
	border: 1px solid $main-color;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	max-width: 95%;
	z-index: -1;
	transition: visibility, opacity, top $transition-short;
	color: $main-color;
	padding: 20px;
	z-index: 5;
	@include faded;
	backface-visibility: hidden;
}

.choose-icon__form {
	background: $main-color;
	color: $white;
	z-index: 1;
	height: 0;
	transition: $transition-short;
	border-radius: 3px;
	overflow: hidden;

	.choose-icon__header {
		text-align: center;
		margin-bottom: 10px;
	}

	.choose-icon__box {
		padding: 10px;
	}

	.icon {
		padding: 10px;
		font-size: 24px;
		color: white;

		&:hover {
			cursor: pointer;
		}
	}
}

.show-choose-icon {
	height: 195px;
	padding: 10px;
}

/**
	Inner Elements Level
**************************/

[class$="__header"] {
	padding: 10px 0;
	font-size: 32px;
}

[class$="__text"] {
}

.display-icon__box {
	text-align: center;
	margin-bottom: $v-gutter-width;
}

.icon-display {
	color: $main-color;
	font-size: 24px;
	margin-right: $h-gutter-width;
}

.label {
	color: $main-color;
}

.input {
	width: 100%;
    border: none;
    border-bottom: 2px solid $main-color;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: $v-gutter-width;
 	color: $main-color;
	font-family: inherit;
	font-size: 18px;
}

.input:focus {
	outline: none;
}

.btn {
	font-size: 18px;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 18px;
	color: $text-color;
	background-color: $main-color;
	font-family: inherit;

	&.btn__choose-icon {
		width: unset;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}
}

/**
	New Todo Form
*************************/
.new-todo__desc {
	line-height: 7px;
}

/**
	Animations
*************************/
@keyframes showAddTodoForm {
	0% {
		visibility: visible;
		opacity: 0;
	}

	100% {
		top: 50%;
		opacity: 1;
		visibility: visible;
	}
}

@keyframes hideForm {
	0% {
		visibility: visible;
		top: 50%;
		opacity: 1;
	}

	95% {
		top: 35%;
		opacity: 0;
	}

	100% {
		top: 35%;
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes showForm {
	0% {
		visibility: visible;
		opacity: 0;
	}

	100% {
		top: 40%;
		opacity: 1;
		visibility: visible;
	}
}

@keyframes hideForm {
	0% {
		visibility: visible;
		top: 40%;
		opacity: 1;
	}

	95% {
		top: 35%;
		opacity: 0;
	}

	100% {
		top: 35%;
		opacity: 0;
		visibility: hidden;
	}
}