nav {
	position: fixed;
	width: 100%;
	z-index: 3;
	background-color: transparent;
	color: $white;
	padding: 10px 15px;

	.menu-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	i {
		font-size: 26px;
	}
}

.logo {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	text-align: center;
	z-index: -1;
	font-size: 48px;
	transform: translate(-50%, -50%);
}

.back {
	transition: $transition-long;
	@include faded;
}

.nav-item {
	font-size: 24px;

	span {
		display: none;
	}

	&:hover {
		cursor: pointer;
	}
}

.nav-link {
	padding: 5px 10px;
}

.list-menu-items {
	display: flex;
}

@media only screen and (min-width: 768px) {
	nav {
		right: 0;
		width: unset;
		height: 100%;
		padding: 10px 30px;

		.menu-list {
			height: unset;
		}

		i {
			margin-right: 10px;
		}
	}

	.menu-list,
	.list-menu-items {
		flex-direction: column;
	}

	.logo {
		position: static;
		transform: unset;
		padding: 20px 0;
	}

	.nav-list {
		flex-direction: column;
	}

	.nav-item {
		width: 100%;

		span {
			display: unset;
		}
	}

	.nav-link {
		padding: 15px 0;
		border-bottom: 1px solid $white;
	}
}