nav {
	background-color: $main-color;
	color: $text-color;
	z-index: 2;
	flex-basis: 10%;

	.menu-list {
		display: flex;
	}
}

.nav-list {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;

	padding: 5px 15px;
}

.logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.back {
	transition: $transition-long;
	@include faded;
}

.nav-item {

	&:hover {
		cursor: pointer;
	}
}

.nav-link {
	display: inline-block;
	padding: 5px 10px;
}

.add-todo {
	margin-top: 5px;
}


.add-remove-item {
	position: relative;
}

.add-project,
.remove-project {
	transition: $transition-short;
	font-size: 24px;
}

@media only screen and (min-width: 768px) {
	nav {
		order: 2;
		flex-basis: 20%;
		height: 100%;
	}

	.nav-list {
		flex-direction: column;
	}
}