nav {
	background-color: $main-color;
	color: $text-color;
	z-index: 2;

	position: relative;
	padding: 5px 15px;

	.menu-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
}

.logo {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	text-align: center;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.back {
	transition: $transition-long;
	@include faded;
}

.nav-item {
	font-size: 24px;

	span {
		display: none;
	}

	&:hover {
		cursor: pointer;
	}
}

.nav-link {
	display: inline-block;
	padding: 5px 10px;
}

.list-menu-items {
	display: flex;
}

@media only screen and (min-width: 768px) {
	nav {
		order: 2;
		flex-basis: 25%;
		height: 100%;
	}

	.menu-list,
	.list-menu-items {
		flex-direction: column;
	}

	.logo {
		position: static;
		transform: unset;
		font-size: 32px;
		margin-bottom: 20px;
	}

	.nav-list {
		flex-direction: column;
	}

	.nav-item {
		width: 100%;

		span {
			display: unset;
		}
	}

	.nav-link {
		width: 100%;
		padding: 15px 0;
		border-bottom: 1px solid $white;
	}
}