.todo {
	padding: 15px 20px;
	transition: $transition-short;

	&:not(:last-child) {
		margin-bottom: 5px;
	}

	&__name {
		font-size: 26px;
		color: $secondary-color;
	}

	&__duedate {
		display: inline-block;
		font-size: 16px;
		color: $white;
	}

	&__desc {
		font-size: 24px;
		color: $secondary-color;
	}

	.menu-box {
		position: relative;
		float: right;
	}

	.menu-list {
		position: absolute;
		top: 100%;
		right: 0;
		width: 130px;
		height: 0;
		overflow: hidden;
		transition: $transition-short;

		.btn {
			border-radius: 0;
		}
	}

	.show-menu {
		height: 90px;
	}
}

.menu-toggle {
	font-size: 24px;
	color: $white;

	&:hover {
		cursor: pointer;
	}
}

.priority-1 {
	@include priority($red);
}

 
.priority-2 { 
	@include priority($yellow);
}

.priority-3 {
	@include priority($green);
}

.completed {
	border-left: none;
	background-color: $completed;
}

@media only screen and (min-width: 768px) {
	.todo {

		&__name {
			margin-bottom: 10px;
		}

		&__duedate {
			margin-bottom: 5px;
		}
	}
}
