.todo {
	padding: 25px 15px;

	&__name {
		font-size: 26px;
		margin-bottom: 10px;
		color: $secondary-color;
	}

	&__duedate {
		display: inline-block;
		margin-bottom: 5px;
		font-size: 16px;
		color: $white;
	}

	&__desc {
		font-size: 24px;
		color: $secondary-color;
	}

	.menu-box {
		position: relative;
		float: right;
	}

	.menu-list {
		position: absolute;
		top: 100%;
		right: 0;
		height: 0;
		overflow: hidden;
		transition: $transition-short;
	}

	.show-menu {
		height: 60px;
	}
}

.menu-toggle {
	font-size: 24px;
	color: $white;

	&:hover {
		cursor: pointer;
	}
}

.priority-1 {
	@include priority(#900C3F);
}

 
.priority-2 { 
	@include priority(#FFC300);
}

.priority-3 {
	@include priority(#DAF7A6);
}
